nav {
    background-color: #3C8213;
    font-size: 1.2rem;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    position: sticky;
    top: 0;
}

.topNav a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 1em 5em;
}

.navbar-toggler{
    color: white;
    font-size: 2.8rem;
}